* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 62.5%; /* 10px */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
}

/* https://type-scale.com/ */
h1 {
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
    margin-bottom: 1.6rem;
}

h3 {
    font-size: 1.953rem;
}

/* Containers */
.text-shadow-container,
.box-container {
    padding: 100px;
    margin-bottom: 60px;
}

.text-shadow-headline {
    font-size: 4.2rem;
    color: #3d3c3c;
    font-weight: 700;
    text-shadow: 0px 3px 0 #ffffff, -1px 5px 0 #9902ff;
    letter-spacing: 2px;
}

.text-shadow-headline-outline {
    font-size: 9rem;
    color: mistyrose;
    text-shadow: 0 0 1px #000000, 0 0 1px #000000;
}

.box-container-grey {
    background-color: #c9c9c9;
}

/* Boxes with shadows */
.box {
    width: 200px;
    height: 200px;
    background-color: hotpink;
    box-shadow: 6px 6px 20px 0px rgb(0 0 0 / 37%);
}

.box-inset {
    box-shadow: inset 6px 6px 20px 0px rgb(0 0 0 / 37%);
}

.box-multiple {
    box-shadow: inset 1px 1px 20px 0px rgb(0 0 0 / 27%), 0px 0px 20px 7px rgb(255 255 255 / 27%);
}

.box-solid {
    box-shadow: 9px 8px #7700ff, 20px 17px black;
    border-radius: 5px;
}
